@model IEnumerable<AlbumDirectory.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Album</h1>

<p>
    <a asp-action="Create">Lägg till nytt album</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Sök på album: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Sök" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AlbumId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
